body {
    font-family: 'Arial', sans-serif;
    background-color: #fbe7f0;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #d63384;
}

#prevBtn, #nextBtn {
    padding: 10px 20px;
    background-color: #d63384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #b82e6c;
}

.block {
    display: none; /* This hides all blocks by default*/
}

.block.active {
    display: block; /* This shows the active block*/
}

.block_1, .block_2, .block_3, .block_4, .block_5, .block_6 {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
    height: 200px;
    margin: 10px auto;
    overflow: auto;
    word-wrap: break-word;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}