body {
    font-family: 'Arial', sans-serif;
    background-color: #fbe7f0;
    background-image: url('pink-backG.jpg'); /* This adds the image here*/
    background-size: cover; /* Ensure the image covers the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    flex-direction: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-title {
    font-size: 4em;
    color: #d63384;
    display: block;
    padding-right: 30px;
}

.you-are {
    color: #d63384;
}

.bold-color {
    color: #d65a98;
}

.sub-title {
    font-weight: bold;
}

#prevBtn, #nextBtn, #finishBtn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #d63384;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prevBtn:hover, #nextBtn:hover, #finishBtn:hover {
    background-color: #b82e6c;
}

#finishBtn {
    display: none;
}

.block {
    display: none; /* This hides all blocks by default*/
}

.block.active {
    display: block; /* This shows the active block*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    background: #fff;
    background-color: #fbe7f0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('paper-crumple.jpg'); /* Add a semi-transparent white overlay */
    background-position: center; /* Center the image */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
}

.button-container {
    display: flex;
    padding-left: 20px;
}